----------------------------------------------------------*/
.v-light, .v-light-head {
  --bg-btn: #f6fafd;
  --input-box-border-color: #000;
  --loading-color: #00004d;
}

.v-dark, .v-dark-head {
  --input-box-border-color: #ffffff1a;
  --bg-btn: #0a0909;
  --loading-color: white;
}

.loader{
  position: absolute;
  left:50%;
  margin-top:2rem;
  transform: translate(-50%, -50%);
  height:5px;
  width:15rem;
  background-color: transparent;
}
.loading{
  background-color: #00004d;  
  width:5rem;
  height:5px;
  animation: animation 1.8s infinite;
}
  
@keyframes animation {
  0% {
      transform: translateX(0rem);
  }
  50% {
      transform: translateX(10rem);
  }
  100% {
      transform: translateX(0rem);
  }
}

::-webkit-scrollbar {
  width: 0.3vw; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
}

/* TO STYLE THE SCROLLBAR TRACK */
::-webkit-scrollbar-track {
  background-color: transparent; /* THIS WILL SET THE COLOR OF THE SCROLLBAR TRACK */
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
  background-color: #00004d;
  border: 0.1vw solid transparent;
  border-radius: 5vw;
}

.move-circle.bg-blue{
  background: royalblue;
}
